---
---

@import "minima";

.footer-note {
  text-align: left;
  color: #777;
  font-size: 0.9em;
}

.home-intro {
  overflow: auto;
  margin-bottom: 30px;
}

.home-sticker {
  width: 150px;
  float: left;
  margin: 5px 24px 12px 0;
}
